@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:ital,wght@1,100&display=swap');
html {
    background: #e7cb7d59;
}

.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
}

h1 {
    color: rgb(3, 117, 8);
    font-family:   'Mochiy Pop One','Franklin Gothic Medium', 'Arial Narrow';
    font-size: 75px;
    margin: 20px;

}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 40px;
    color: #0db907;
    margin-top: 20px;
    margin-bottom: 20px;
}


#roundResults {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 5px solid rgb(27, 27, 31);
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    }
    
    .scores {
        display: flex;
        flex-direction: row;
    }
    .scores div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        border: 5px solid rgb(27, 27, 31);
        margin-top: 3px;
        margin-bottom: 20px;
        margin-right: 5px; 
        font-weight: bolder;
        font-size: 20px;    
        
    }
    
    /* buttons */
    
    .optionBtn button {
        background-color: #70e2b3;
        border: 4px solid #0b5f1d;
        border-radius: 12px;
        width: 150px;
        height: 50px;
        font-size: 26px;
        font-weight: bold;
        color: rgb(23, 23, 27);
        margin-bottom: 30px;
        }
    
    
    #reset {
        width: 120px;
        height: 40px;
        margin-top: 20px;
        background-color: #70e2b3;
        border: 4px solid #0b5f1d;
        border-radius: 12px;
        font-size: 20px;
        
    
    }
    /* label */

#resultsLabel {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #035664;
}

#playerLabel{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #035664;
    padding-left: 15px;
}

#compLabel{
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #035664;
    padding-left: 18px;
    padding-right: 3px;
}